# Utilitaires pour le projet
requests==2.26.0
APScheduler==3.8.1
fastapi==0.70.0
uvicorn==0.15.0

# Validation des données
pydantic==1.10.0

# Outils de gestion de la base de données
sqlite==3.0

# Outils de gestion du temps
python-dateutil==2.8.2

# Log
logging==0.5.1
